@tailwind base;

@layer base {
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        dispaly: none;
    }
    .no-scrollbar {
        scrollbar-width: none;
    }
}

:root {
    --color-pink: #ee415f;
    --color-green: #58ce97;
    --color-orange: #fc7d4a;
    --color-red: #d14758;
    --color-pale-pink: #ef6e85;
    --color-coral: #f3907e;
    --color-peach: #ecb38d;
    --color-aqua: #a0ded0;
    --color-pale-aqua: #c0ebe1;
    --color-lightest-blue: #f8fcff;
    --color-blue: #4c88e9;
    --color-black: #242e39;
    --color-gray-1: #3b424b;
    --color-gray-2: #68707d;
    --color-gray-3: #949fab;
    --color-gray-4: #c7cdd4;
    --color-gray-5: #edf1f6;
    --color-gray-6: #f7f9fb;
    --color-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR';
}

html {
    height: 100%;
}
body {
    height: 100%;
    @apply text-black dark:text-white dark:bg-slate-800;
}
code {
    padding: 4px;

    border-radius: 4px;
    background-color: var(--color-gray-6);
    color: var(--color-gray-1);

    box-decoration-break: clone;

    font-size: 14px;
}
.home__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__container > * {
    margin-bottom: 10px;
}
.home__header {
    margin-bottom: 30px;
}
.username__input {
    padding: 10px;
    width: 50%;
}
.home__cta {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1c2027;
    color: #f9f5eb;
    outline: none;
    border: none;
    border-radius: 5px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;

    margin-right: 2px;
    padding: 0 8px;

    border: 0;
    border-radius: 4px;
    background: transparent;
    color: currentColor;

    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    font-weight: inherit;

    white-space: nowrap;
    cursor: pointer;
}
.button:hover,
.button.is-active,
.menu-button:hover,
.menu-button.is-active {
    background-color: var(--color-gray-5);
    color: var(--color-black);
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dim {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    position: absolute;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.modal-title h2 {
    margin: 0;
}

.close {
    cursor: pointer;
}

.modal-body {
    margin-bottom: 10px;
}

.modal-footer {
    text-align: right;
}

.modal-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.modal-footer button:hover {
    background-color: #0056b3;
}

.content-container {
    display: grid;
    background-color: #f8f9fa;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    grid-template-rows: repeat(2, 380px);
    grid-auto-rows: 380px;
    grid-template-columns: repeat(5, 300px);
    grid-gap: 35px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.separator {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
